*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.home{ 
  position: relative;
  /* bottom: 200px; */
  width: 100%;
  height:700px;
  background-image: url(https://getwallpapers.com/wallpaper/full/0/4/6/1126592-hd-guitar-wallpaper-1920x1200-htc.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color:aliceblue;
  padding: 10px 30px;
  align-items: right;
  justify-content: right;
  position: fixed;
  z-index: 1;

}
nav h1{
  font-size: 40px;
  color: rgb(254, 7, 118);
  text-shadow: 4px 2px 4px black;
  font-weight: 500px;
  position: relative;
  float: left;
  margin-right: 600px;
  font-family: 'Kenia';


}
.landing{
 
 width:100%;
 height: 800px;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: url(file:///C:/Users/Admin/Downloads/jazz-concert-banner-template_23-2149016095-transformed.webp);
}
 
 .container ul {

  list-style: none;
  display: inline-block;
  padding: 10px 30px;
  
}
.list{
  color: black;
  font-size: 25px ;
  text-decoration: none;
  padding: 10px 30px;
  
  
}
.list:hover{
  border-bottom: 2px solid red;
}


.col h1{
font-size: 40px;
color: white;
font-weight: 400px;
position: relative;
top: 200px;
}
.col p{
  font-size: 20px;
  color: gray;
  font-weight: 500px;
  margin-top: 200px;
}
.cards{
  background-color: black;
  width: 100%;
  height:900px;
  padding: 15px 15px;
display: inline-block;


}
.b1{
  background-color: red;
  border: none;
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 5px;
  position: relative;top:300px;
}
.cards h1:hover{
  border-bottom: 2px solid red;
  
}
.card1{
  background-image: url(https://yamaha.ndcdn.in/media/catalog/product/cache/899ce1975ffcf53b80ac01574e434284/f/s/fsx80c_bl_a_0001.jpg);
  height: 400px;
  width: 300px;
  margin-left: 200px;
  border-radius: 20px;
}
.card2{
  height: 400px;
  width: 300px;
  background-image: url(https://yamaha.ndcdn.in/media/catalog/product/cache/899ce1975ffcf53b80ac01574e434284/p/s/psr-sx900-3.png);
position: relative;
bottom: 400px;
left: 700px;
border-radius: 20px;


}
.card3{
 
  background-image: url(https://th.bing.com/th/id/OIP.dARKBV3BVxI3DpH9_mkmIQHaLG?pid=ImgDet&rs=1);
  margin-left: 200px;
  height: 400px;
  width: 300px;
  position: relative;
  border-radius: 20px;
  bottom: 300px;
  background-repeat: no-repeat;

  

}.card4{
 
  background-image: url(https://in.yamaha.com/en/files/DTX950K_540x540_61c9b415ffe78f5bc02cf8988e7d34d2.jpg?impolicy=resize&imwid=396&imhei=396);
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
  position: relative;
  bottom: 700px;
  left: 700px;

}
.cards h1{
  text-align: center;
}
.page{
  background-color: black;
  height: 700px;
  width: 100%;
}
.d-flex{
  background-color: aliceblue;
  height: 500px;
  width: 400px;
  border-radius: 30px;
  margin-left: 400px;
  position: relative;
  padding: 50px;
  top: 100px;
}
.mail{
  height: 40px;
  width: 300px;
  border-radius: 5px;
}
.page h2{
  font-size: 40px;
  text-align: center;
}
.button{
  background-image: linear-gradient(red,rgb(251, 14, 101));
  height: 30px;
  color: white;
  width: 120px;
  border: none;
  border-radius: 5px;
  margin-left: 100px;

}
.lable{
  font-size: 20px;

}
.signup{
  height: 35px;
  border-radius: 10px;
  width: 300px;
  border: none;
  color: white;
}